@font-face {
    font-weight: 100;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-THIN.TTF");
}

@font-face {
    font-weight: 100;
    font-family: "TT Hoves";
    font-style: italic;
    src: url("../fonts/TTHOVES-THINITALIC.TTF");
}

@font-face {
    font-weight: 200;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-EXTRALIGHT.TTF");
}

@font-face {
    font-weight: 200;
    font-family: "TT Hoves";
    font-style: italic;
    src: url("../fonts/TTHOVES-EXTRALIGHTITALIC.TTF");
}

@font-face {
    font-weight: 300;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-LIGHT.TTF");
}

@font-face {
    font-weight: 300;
    font-family: "TT Hoves";
    font-style: italic;
    src: url("../fonts/TTHOVES-LIGHTITALIC.TTF");
}

@font-face {
    font-weight: 400;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-REGULAR.TTF");
}

@font-face {
    font-weight: 400;
    font-family: "TT Hoves";
    font-style: italic;
    src: url("../fonts/TTHOVES-ITALIC.TTF");
}

@font-face {
    font-weight: 500;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-MEDIUM.TTF");
}

@font-face {
    font-weight: 500;
    font-family: "TT Hoves";
    font-style: italic;
    src: url("../fonts/TTHOVES-MEDIUMITALIC.TTF");
}

@font-face {
    font-weight: 600;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-DEMIBOLD.TTF");
}

@font-face {
    font-weight: 600;
    font-family: "TT Hoves";
    font-style: italic;
    src: url("../fonts/TTHOVES-DEMIBOLDITALIC.TTF");
}

@font-face {
    font-weight: 700;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-BOLD.TTF");
}

@font-face {
    font-weight: 700;
    font-family: "TT Hoves";
    font-style: italic;
    src: url("../fonts/TTHOVES-BOLDITALIC.TTF");
}

@font-face {
    font-weight: 800;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-EXTRABOLD.TTF");
}

@font-face {
    font-weight: 800;
    font-family: "TT Hoves";
    font-style: italic;
    src: url("../fonts/TTHOVES-EXTRABOLDITALIC.TTF");
}

@font-face {
    font-weight: 900;
    font-family: "TT Hoves";
    src: url("../fonts/TTHOVES-BLACK.TTF");
}

@font-face {
    font-weight: 900;
    font-family: "TT Hoves";
    font-style: italic;
    src: url("../fonts/TTHOVES-BLACKITALIC.TTF");
}