@import "variables.scss";

/*НАЧАЛО АДАПТИВА 668*/
@media(min-width: 668px) {

    /*НАЧАЛО ОБЩИХ СТИЛЕЙ 668*/
    html {
        font-size: 1.497005988023952vw;
    }

    section {
        margin-bottom: 8rem;
    }

    .title {
        max-width: 53.2rem;
        font-size: 2.1rem;
        line-height: 3rem;
    }

    .desc {
        font-size: 1.2rem;
        max-width: 50.8rem;
    }

    .wrapper {
        padding: 0 4.4rem;
    }

    .scroll {
        padding: 0 4.4rem;
    }

    /*КОНЕЦ ОБЩИХ СТИЛЕЙ 668*/

    /*НАЧАЛО СТИЛЕЙ ГЛАВНОЙ СТРАНИЦЫ 668*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ С ИКОНКАМИ 668*/
    .desc-icon__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .desc-icon__item {
        margin-bottom: 0;
        max-width: 17.3rem;
    }

    .desc-icon__text-title {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ С ИКОНКАМИ 668*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ 668*/
    .spares__container {
        max-width: 50.6rem;
        grid-column-gap: 5.6rem;
        grid-template-columns: repeat(2, 18.2rem);
        justify-content: center;
    }

    .spares__item {
        margin: auto;
        align-items: center;
        max-width: 18.2rem;
    }

    .spares__item-img {
        width: 18.2rem;
        height: 11.3rem;
    }

    .spares__item-info-title {
        min-height: 5.2rem;
        max-width: 14.5rem;
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ 668*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ ТРАНСПОРТНЫЕ КОМПАНИИ, С КОТОРЫМИ МЫ РАБОТАЕМ 668*/

    .swiper-companies {
        .swiper-wrapper {
            gap: 3.92rem;
        }

        // .swiper-slide {
        //     margin-right: 3.92rem;
        // }
    }

    .companies__banner-text {
        max-width: 40rem;
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ ТРАНСПОРТНЫЕ КОМПАНИИ, С КОТОРЫМИ МЫ РАБОТАЕМ 668*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ НАШИ ПАРТНЕРЫ 668*/
    .swiper-partners {
        .swiper-wrapper {
            gap: 4rem;
        }
    }

    .partners__logo {
        width: 8rem;
        height: 8rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ НАШИ ПАРТНЕРЫ 668*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ НАШИ НОВОСТИ 668*/
    .news__container {
        grid-template-columns: repeat(2, 6fr);
        grid-column-gap: 3.2rem;
    }

    .news__item {
        max-width: 27.6rem;
    }

    .news__item-text {
        margin-bottom: 3.2rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ НАШИ НОВОСТИ 668*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ КОНТАКТЫ 668*/

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ КОНТАКТЫ 668*/
    .contacts__container {
        justify-content: space-between;
        flex-direction: row;
        gap: unset;
    }

    .contacts__info-item-text {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .contacts__map {
        width: 30.7rem;
        height: 31.5rem;
    }

    /*КОНЕЦ СТИЛЕЙ ГЛАВНОЙ СТРАНИЦЫ 668*/
}

/*КОНЕЦ АДАПТИВА 668*/

/*НАЧАЛО АДАПТИВА 1024*/
@media(min-width: 1024px) {

    /*НАЧАЛО ОБЩИХ СТИЛЕЙ 1024*/
    html {
        font-size: 0.9765625vw;
    }

    section {
        margin-bottom: 11.2rem;
    }

    .title {
        max-width: none;
        margin-bottom: 4.8rem;
        font-size: 2.8rem;
        line-height: 3.8rem;
    }

    .title-desc {
        margin-bottom: 1.2rem;
    }

    .desc {
        margin-bottom: 4.8rem;
        font-size: 1.4rem;
        line-height: 2.6rem;
        max-width: 58.6rem;
    }

    .wrapper {
        padding: 0 6.4rem;
    }

    .btn__wrapper {
        margin-top: 5.6rem;
    }

    /*КАСТОМИЗАЦИЯ СВАЙПЕРА*/
    .swiper {
        display: block;
        overflow-x: hidden;
    }

    .scroll {
        padding: 0;
        overflow-x: unset;
    }

    /*КОНЕЦ КАСТОМИЗАЦИИ СВАЙПЕРА*/

    /*КОНЕЦ ОБЩИХ СТИЛЕЙ 1024*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ С ИКОНКАМИ 1024*/
    .desc-icon {
        padding: 3.2rem 0;
    }

    .desc-icon__item {
        max-width: 23.9rem;
    }

    .desc-icon__item-img {
        width: 5.6rem;
        height: 5.6rem;
    }

    .desc-icon__text-title {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ С ИКОНКАМИ 1024*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ 1024*/
    .spares__container {
        max-width: none;
        justify-content: center;
        grid-template-columns: repeat(2, 40rem);
    }

    .spares__item {
        flex-direction: row;
        align-items: flex-start;
        max-width: 40rem;
        width: 100%;
    }

    .spares__item-img {
        width: 12rem;
        height: 13rem;
        margin-top: 0;
        margin-right: 2.4rem;
        flex-shrink: 0;
    }

    .spares__item-info {
        flex-shrink: 0;
    }

    .spares__item-info-title {
        min-height: unset;
        max-width: unset;
        text-align: left;
        font-size: 2rem;
        line-height: 3.2rem;
        margin-bottom: 0.8rem;
    }

    .spares__item-info-models {
        display: inline-flex;
        flex-wrap: wrap;
        max-width: 20rem;
        grid-row-gap: 1.2rem;
    }

    .spares__item-info-models-item {
        margin-right: 1.2rem;
        display: inline-block;
        padding: 0.4rem 0.8rem;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: $blue;

        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ 1024*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ ТРАНСПОРТНЫЕ КОМПАНИИ, С КОТОРЫМИ МЫ РАБОТАЕМ 1024*/
    .companies {
        .scroll {
            padding: 0;
        }

        .swiper-slide {
            width: 8.9rem;
        }
    }

    .swiper-companies {
        padding: 0 6.4rem;

        .swiper-wrapper {
            gap: unset;
        }
    }

    .companies__image {
        width: 8.9rem;
        height: 8.9rem;
    }

    .companies__banner {
        margin-top: 5.6rem;
        padding: 1.6rem 0;
    }

    .companies__banner-text {
        max-width: none;
        font-size: 1.6rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ ТРАНСПОРТНЫЕ КОМПАНИИ, С КОТОРЫМИ МЫ РАБОТАЕМ 1024*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ НАШИ ПАРТНЕРЫ 1024*/
    .swiper-partners {
        padding: 0 6.4rem;

        .swiper-wrapper {
            gap: unset;
        }

        .swiper-slide {
            width: 10rem;
        }

        .partners__logo {
            width: 10rem;
            height: 9.2rem;
        }
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ НАШИ ПАРТНЕРЫ 1024*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ НАШИ НОВОСТИ 1024*/
    .news__container {
        grid-template-columns: repeat(3, 4fr);
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ НАШИ НОВОСТИ 1024*/

}

/*КОНЕЦ АДАПТИВА 1024*/

/*НАЧАЛО АДАПТИВА 1500*/

@media(min-width: 1500px) {

    /*НАЧАЛО ОБЩИХ СТИЛЕЙ 1500*/
    html {
        font-size: 0.666668vw;
    }

    .title {
        font-size: 3rem;
        line-height: 4.2rem;
    }

    section {
        margin-bottom: 12.8rem;
    }

    .wrapper {
        padding: 0 8rem;
    }

    /*КОНЕЦ ОБЩИХ СТИЛЕЙ 1500*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ С ИКОНКАМИ 1500*/
    .desc-icon {
        padding: 5.6rem 0;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ С ИКОНКАМИ 1500*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ 1500*/
    .spares__container {
        grid-template-columns: repeat(2, 44.3rem);
    }

    .spares__item {
        max-width: 44.3rem;
    }

    .spares__item-img {
        margin-right: 4rem;
    }

    .spares__item-info-title {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }

    .spares__item-info-models {
        max-width: 29.3rem;
    }

    .spares__item-info-models-item {
        &:nth-of-type(2n) {
            margin-right: 1.2rem;
        }

        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ 1500*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ ТРАНСПОРТНЫЕ КОМПАНИИ, С КОТОРЫМИ МЫ РАБОТАЕМ 1500*/
    .companies {
        .swiper-slide {
            width: 9.2rem;
        }
    }

    .swiper-companies {
        padding: 0 16.5rem;
    }

    .companies__image {
        width: 9.2rem;
        height: 9.2rem;
    }

    .companies__banner-text {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ ТРАНСПОРТНЫЕ КОМПАНИИ, С КОТОРЫМИ МЫ РАБОТАЕМ 1500*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ НАШИ ПАРТНЕРЫ 1500*/
    .swiper-partners {
        padding: 0 8rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ НАШИ ПАРТНЕРЫ 1500*/

    /*НАЧАЛО СТИЛЕЙ СЕКЦИИ НАШИ НОВОСТИ 1500*/
    .news__container {
        grid-template-columns: repeat(4, 3fr);
    }

    .news__item {
        max-width: 29.9rem;
    }

    .news__item-title {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    /*КОНЕЦ СТИЛЕЙ СЕКЦИИ НАШИ НОВОСТИ 1500*/

}

/*КОНЕЦ АДАПТИВА 1500*/