@import 'variables.scss';

/*НАЧАЛО ОБЩИХ СТИЛЕЙ*/
html {
    font-size: 10px;
}

body {
    font-family: 'Geometria';
    color: $black;
}

section {
    margin-bottom: 4.8rem;
}

.wrapper {
    padding: 0 1.6rem;
}

.title {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 700;
    text-align: center;
    max-width: 40.4rem;
    margin: 0 auto 3.2rem;

    span {
        color: #00A0E3;
    }
}

.title-desc {
    margin-bottom: 1.2rem;
}

.text {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 300;

    p {
        margin-bottom: 2rem;

        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }
}

.desc {
    margin: 0 auto 3.2rem;
    max-width: 40.4rem;
    line-height: 2rem;
    color: $blue;
    text-align: center;
    width: 100%;
}

.btn__wrapper {
    margin-top: 4rem;
    text-align: center;
}

.btn {
    position: relative;
    font-size: 1.4rem;
    line-height: 1.8rem;
    display: inline-block;
    color: #fff;
    min-width: 18.3rem;
    background-color: $btn;
    text-align: center;
    padding: 1rem 2.8rem;
    font-weight: 500;
    transition: 0.3s ease;

    &::before,
    &::after {
        content: '';
        display: block;
        clear: both;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        transition: 0.3s ease;
    }

    &::before {
        border-left: 1.6rem solid transparent;
        border-bottom: 3.8rem solid $btn;
        left: -1.6rem;
    }

    &::after {
        border-right: 1.6rem solid transparent;
        border-top: 3.8rem solid $btn;
        right: -1.6rem;
    }

    &:focus,
    &:focus-within,
    &:active {
        background-color: #0091CE;

        &::before {
            border-bottom: 3.8rem solid #0091CE;
        }

        &::after {
            border-top: 3.8rem solid #0091CE;
        }
    }
}

.btn-arrow {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $blue;

    span {
        margin-right: 0.8rem;
        transition: 0.3s ease;
    }

    svg {
        margin-top: 0.1rem;
        width: 1.2rem;
        height: 0.8rem;
    }

    &:active,
    &:focus,
    &:focus-within,
    &:hover {
        span {
            margin-right: 2.4rem;
        }
    }
}

.swiper,
.scroll {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background-color: transparent;
    }
}

.scroll {
    padding: 0 1.6rem;
    overflow-x: auto;
}

/*КАСТОМИЗАЦИЯ СВАЙПЕРА*/
.swiper-not-mobile {
    display: inline-flex;
    overflow-x: auto;

    .swiper-slide {
        width: auto;
    }
}

/*КОНЕЦ КАСТОМИЗАЦИИ СВАЙПЕРА*/

/*КОНЕЦ ОБЩИХ СТИЛЕЙ*/

/*НАЧАЛО СТИЛЕЙ ГЛАВНОЙ СТРАНИЦЫ*/

/*НАЧАЛО СТИЛЕЙ ШАПКИ*/
.header-top {
    display: none;
}

.header-bottom__search,
.header-bottom__links,
.header-bottom__request-phone span,
.header-bottom__request-btn {
    display: none;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    padding-top: 1.6rem;
}

.header-bottom__burger-icon {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 2rem;
        height: 1px;
        background-color: #064E8C;
    }

    &::before {
        top: 0.55rem;
    }

    &::after {
        bottom: 0.55rem;
    }

    span {
        position: relative;
        width: 2rem;
        height: 1px;
        background-color: #064E8C;
    }
}

.header-bottom__logo {
    margin: 0 0 0 -0.4rem;
    width: 5rem;
    height: 3.6rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.header-bottom__request-phone {
    display: inline-flex;

    svg {
        width: 2rem;
        height: 2rem;
    }
}

/*КОНЕЦ СТИЛЕЙ ШАПКИ*/

/*НАЧАЛО СТИЛЕЙ ГЛАВНОГО ЭКРАНА*/
.main {
    padding: 4.8rem 0 2.4rem;

    .title {
        text-align: left;
        max-width: 28.8rem;
        margin: 0 0 1.6rem;
    }

    .desc {
        text-align: left;
        font-size: 1.4rem;
        max-width: 47.9rem;
        margin: 0 0 3.2rem;
    }
}

.btn-main {
    min-width: 12.2rem;
    padding: 0.7rem 2.1rem;
    background-color: #00A0E3;
    transition: 0.3s ease;

    &::before,
    &::after {
        transition: 0.3s ease;
    }

    &::before {
        border-left: 1.1rem solid transparent;
        border-bottom: 3.2rem solid #00A0E3;
        left: -1.1rem
    }

    &::after {
        border-right: 1.1rem solid transparent;
        border-top: 3.2rem solid #00A0E3;
        right: -1.1rem
    }

    span {
        position: relative;
        transition: 0.3s ease;
        left: 0;

        &::after {
            content: '';
            position: absolute;
            right: -2rem;
            top: calc(50% - 0.2rem);
            width: 1.2rem;
            height: 0.8rem;
            background-image: url('@img/arrow-white.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.2rem 0.8rem;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }

    &:active,
    &:focus,
    &:focus-within,
    &:hover {

        span {
            left: -1.1rem;

            &::after {
                opacity: 1;
            }
        }
    }

    &:active,
    &:focus,
    &:focus-within {
        background-color: #0091CE;

        &::before {
            border-bottom: 3.2rem solid #0091CE;
        }

        &::after {
            border-top: 3.2rem solid #0091CE;
        }
    }
}

.btn-main__wrapper {
    margin-top: 4rem;
    text-align: center;
}

.swiper-main__item-info-image {
    display: none;
}

.swiper-main__pagination {
    position: static;
    margin-top: 1.6rem;

    .swiper-pagination-bullet {
        width: 0.4rem;
        height: 0.4rem;
        margin: 0 0.6rem;
        background-color: #00A0E3;
        opacity: 0.4;
    }

    .swiper-pagination-bullet-active {
        background-color: #00A0E3;
        opacity: 1;
    }
}

.swiper-main__item {
    padding: 0 1.6rem;
}

/*КОНЕЦ СТИЛЕЙ ГЛАВНОГО ЭКРАНА*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ С ИКОНКАМИ*/
.desc-icon {
    background-color: $bg;
    padding: 2.4rem 0;
}

.desc-icon__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc-icon__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 18.8rem;
    text-align: center;
    width: 100%;
    margin-bottom: 2.4rem;

    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }
}

.desc-icon__item-img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.6rem;

    img {
        width: 100%;
        height: auto;
    }
}

.desc-icon__text-title {
    font-size: 1.2rem;
    line-height: 2.1rem;
    font-weight: 700;

    span {
        font-weight: 400;
    }
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ С ИКОНКАМИ*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ*/
.spares__container {
    max-width: 28.8rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    grid-column-gap: 3.6rem;
    grid-row-gap: 4.8rem;
    align-items: flex-start;
}

.spares__item {
    display: flex;
    flex-direction: column-reverse;
}

.spares__item-img {
    margin-top: 1.6rem;
    width: 12.6rem;
    height: 9rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.spares__item-info-title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $blue;
    text-align: center;
    min-height: 4.4rem;
}

.spares__item-info-models {
    display: none;
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ ОРИГИНАЛЬНЫЕ ЗАПЧАСТИ*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ ТРАНСПОРТНЫЕ КОМПАНИИ, С КОТОРЫМИ МЫ РАБОТАЕМ*/
.swiper-companies {
    .swiper-wrapper {
        gap: 2.4rem;
    }
}

.companies__image {
    width: 6.4rem;
    height: 6.4rem;

    img {
        height: 100%;
        width: auto;
    }
}

.companies__banner {
    margin-top: 4rem;
    background-color: $bg;
    padding: 1.2rem 0;
    text-align: center;
}

.companies__banner-text {
    font-size: 1.2rem;
    line-height: 2.1rem;
    font-weight: 500;
    color: $blue;
    max-width: 28.8rem;
    margin: auto;
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ ТРАНСПОРТНЫЕ КОМПАНИИ, С КОТОРЫМИ МЫ РАБОТАЕМ*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ КАТАЛОГ*/
.catalog__container {
    max-width: 28.8rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.catalog__stock-title {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: #00A0E3;
    margin-bottom: 1.2rem;
}

.catalog__stock-card {
    background-color: #EDF8FD;
    padding: 0.8rem 1.6rem 1.6rem;
    min-height: 17.2rem;
    position: relative;

    .btn-arrow {
        position: absolute;
        bottom: 1.6rem;
        transform: translateX(-50%);
        left: 50%;
    }
}

.catalog__stock-card-time {
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
    align-items: center;
    margin-bottom: 2.4rem;
}

.catalog__stock-card-time-item {
    position: relative;
    border-radius: 0.2rem;
    padding: 0.4rem 0.2rem 0.2rem;
    background-color: rgba(0, 160, 227, 0.08);

    &::after {
        content: ':';
        position: absolute;
        top: 0.1rem;
        right: -0.8rem;
        font-size: 1.5rem;
        line-height: 1.9rem;
        font-weight: 500;
    }

    &:nth-last-of-type(1) {
        &::after {
            content: none;
        }
    }

    span {
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 500;
        color: #064E8C;
    }
}

.catalog__stock-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog__stock-card-name {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.catalog__stock-card-cost {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.catalog__stock-card-cost-new {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.catalog__stock-card-cost-old {
    line-height: 1.3rem;
    text-decoration: line-through;
    color: #A3A8AB;
}

.catalog__stock-card-img {
    width: 9.4rem;
    height: 6.1rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.catalog__sections-item {
    width: 100%;
    max-width: 13.8rem;
    height: 100%;
    min-height: 9.3rem;
    padding: 0.8rem;
    position: relative;
    background-color: #FAFAFA;
    overflow: hidden;
    display: inline-flex;
    align-items: flex-end;
    transition: 0.3s ease;

    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
        display: none;
    }

    &:active,
    &:focus,
    &:focus-within {
        background-color: #EDF8FD;

        .catalog__sections-item-image {
            right: 0;
        }
    }
}

.catalog__sections-item-image {
    width: 10rem;
    height: 8rem;
    flex-shrink: 0;
    position: absolute;
    top: calc(50% - 4rem);
    right: -3.5rem;
    transition: 0.3s ease-in-out;

    svg {
        width: 100%;
        height: 100%;
        object-fit: contain;

        path {
            opacity: 0.18;
        }
    }
}

.catalog__sections-item-title {
    font-weight: 700;
    line-height: 1.3rem;
}

.catalog__sections {
    display: grid;
    grid-template-columns: repeat(2, 13.8rem);
    grid-column-gap: 1.2rem;
    grid-row-gap: 1.2rem;
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ КАТАЛОГ*/


/*НАЧАЛО СТИЛЕЙ СЕКЦИИ НАШИ ПАРТНЕРЫ*/
.swiper-partners {
    .swiper-wrapper {
        gap: 3.2rem;
    }
}

.partners__logo {
    width: 6.4rem;
    height: 6.4rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ НАШИ ПАРТНЕРЫ*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ НАШИ НОВОСТИ*/
.news__container {
    display: grid;
    grid-row-gap: 3.2rem;
    justify-content: center;
}

.news__item {
    width: 100%;
    max-width: 28.8rem;
}

.news__item-date {
    padding: 0.2rem 0.8rem;
    background-color: $date-bg;
    display: inline-block;
    line-height: 1.6rem;
    color: $blue;
    margin-bottom: 0.8rem;
}

.news__item-title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 1.6rem;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.news__item-text {
    font-size: 1.2rem;
    line-height: 2.1rem;
    margin-bottom: 2.4rem;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ НАШИ НОВОСТИ*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ КОНТАКТЫ*/
.contacts__container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    justify-content: center;
}

.contacts__info-item {
    max-width: 22.5rem;
    margin: 0 auto 2.4rem;

    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }
}

.contacts__info-item-mini {
    margin-bottom: 1.6rem;

    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }
}

.contacts__info-item-title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 0.8rem;
}

.contacts__info-item-title-big {
    margin-bottom: 1.2rem;
}

.contacts__info-item-subtitle {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $blue;
    margin-bottom: 0.8rem;
}

.contacts__info-item-text {
    display: block;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.contacts__map {
    width: 100%;
    height: 32rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ КОНТАКТЫ*/

/*НАЧАЛО СТИЛЕЙ СЕКЦИИ О КОМПАНИИ*/
.about__logo {
    display: none;
}

.about__info {
    .text {
        margin-bottom: 2.4rem;
    }
}

/*КОНЕЦ СТИЛЕЙ СЕКЦИИ О КОМПАНИИ*/

/*НАЧАЛО СТИЛЕЙ ФУТЕРА*/
.footer {
    background-color: #064E8C;
    padding: 2.4rem 0 4rem;
}

.footer__info-images-logo,
.footer__links,
.footer__info-contacts-feedback-phone {
    display: none;
}

.footer__info-images-socials {
    display: flex;
    gap: 1.6rem;
    justify-content: center;
}

.footer__info-images-socials-item {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    transition: 0.3s ease;

    svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &:active,
    &:focus,
    &:focus-within,
    &:hover {
        transform: scale(1.19);
    }
}

.footer__info-contacts {
    display: flex;
    justify-content: space-between;
}

.footer__info-contacts-address,
.footer__info-contacts-feedback {
    max-width: 12rem;
    width: 100%;
}

.footer__info-contacts-title {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #fff;
}

.footer__info-contacts-text {
    display: block;
    font-size: 1.2rem;
    line-height: 2.1rem;
    color: #fff;
}

.footer__info-images {
    margin-bottom: 4rem;
}

.footer__container,
.footer__copyright {
    margin: auto;
    max-width: 28.8rem;
    width: 100%;
}

.footer__copyright {
    margin-top: 3.2rem;
}

.footer__copyright-text {
    font-weight: 300;
    color: #fff;
    line-height: 1.3rem;

    p {
        margin-bottom: 0.8rem;

        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }
}

.footer__copyright-upfly {
    display: inline-flex;
    align-items: center;
    gap: 1.6rem;
    width: 11.9rem;

    img {
        width: 2.4rem;
        height: 3rem;
    }

    span {
        font-size: 1.2rem;
        color: #fff;
        line-height: 1.6rem;
        font-weight: 500;
    }
}

.footer__copyright-upfly-wrapper {
    margin-top: 2.4rem;
    display: flex;
    justify-content: end;
}


/*КОНЕЦ СТИЛЕЙ ФУТЕРА*/

/*КОНЕЦ СТИЛЕЙ ГЛАВНОЙ СТРАНИЦЫ*/